.idea/
*.DotSettings.user

[Bb]in/
[Oo]bj/

**/appsettings.Development.json
**/Properties/launchSettings.json
**/ShipmentManagement.Api.http

.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

.DS_Store
Thumbs.db